# dependencies (bun install)
node_modules
.bun

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.json

# dotenv environment variable files
.env
.env.*
!.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE & OS files
.idea
.vscode
.DS_Store
Thumbs.db

# test & debug
*.test.ts
*.spec.ts
*.swp

# bun lock file
bun.lock

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*